.offers{
    width: 65%;
    height: auto;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 10px;
    background: linear-gradient(180deg,#fde1ff 0%, black 60%);
}
.offers-left{
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    height: auto;
    color: white;
    font-size: 50px;
    font-weight: 600;
}
.offers-left p{
    color: white;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 282px;
    height: 72px;
    border-radius: 35px;
    background-color: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    overflow-y: hidden;
}
.offers-right img{
    height:330px;
    object-fit: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}